/* This is some default styling for the exercise */
* {
	box-sizing: border-box;
}

html,body {
	margin : 0;
	padding : 0;
	width: 100%;
}

.container-fluid{
	margin: 0 auto;
	padding: 0;
}

@media all and (max-width: 1366px){

	body{
		margin: 0;
		padding: 0;
	}

	.navbar{
		padding: 3em 3em 3em 3em;
	}

	#whitesidebar{
		overflow-x: hidden;
	}


	#welcome{
		font-size: 6rem;
		margin-top: 0%;
		left: 26%;
	}

	#welcome2{
		font-size: 1.25rem;
		margin-top: 10%;
		left: 45%;
	}

	#down{
	  font-size: 3em;
	  position: absolute;
	  margin-top: 20%;
		left: 48.75%;
	}

	#downlabel{
	  font-family: lato;
	  font-size: 1em;
	  position: absolute;
	  left: 48%;
	  margin-top:19%;
	}

	#left{
	  font-size: 3em;
	  position: absolute;
	  left: 1.25em;
	  top: 1em;
	}

	#leftlabel{
	  font-family: lato;
	  font-size: 1em;
	  position: absolute;
	  left: 6.5em;
	  top: 4.85em;
	}

	#right{
	  font-size: 3em;
	  position: absolute;
	  top: 1em;
		right:5%;
	}

	#rightlabel{
	  font-family: lato;
	  font-size: 1em;
	  position: absolute;
	  top: 4.85em;
		right: 8.5%;
	}

	#twitter{
	  position: absolute;
	  right:4em;
	  top: 3.5em;
	  color: black;
	}

	#instagram{
	  position: absolute;
	  right:8em;
	  top: 3.5em;
	  color: black;
	}

	#facebook{
	  position: absolute;
	  right:12em;
	  top: 3.5em;
	  color: black;
	}

	#projects{
		font-size: 6rem;
		margin-top: 10%;
		margin-left: 35%;
	}

	.fullscreen{
		height: 85vh;
	}

	#aboutpara{
		font-family: open sans;
		font-weight: 600;
		color: #696969;
		font-size: 1em;
		line-height: 2em;
		width: 100%;
		margin-left: 15%;
		padding: 2em;
	}

	#hello{
		color: #FF5851;
		margin-left: 20%;
		font-size: 2em;
		margin-top: 15%;

	}

	#resume a{
		padding-bottom: 5em;
	}

	.projectpara{
			padding-left: 2.25em;
			padding-right: 2.25em;
			font-size: .8em;
		}

	.projecttitle {
    font-size: 1em;
    font-family: secular one;
    margin-left: 7%;
		padding-top: 1.75em;
	}

	#vtlimage{
		width: 100vw;
		margin-left: 1em
	}

	#titles{
		font-size: 10vw;
		margin-left: 38%;
		margin-top: 15%;
	}

	#titles1{
		font-size: 10vw;
		margin-left: 30%;
		margin-top: 11%;
	}

	#contactinfo{
		font-size: 1vw;
		margin-left: 20%;;
	}

	#names{
		font-size: 4vw;
		margin-left: 20%;
	}

	#name{
		font-size: 3vw;
		margin-left: 20%;
		margin-top: 10%;
	}

	#resume{
		padding-left: 3.5em;
		margin-top: 4em;
	}

	#members{
		margin-top: 11%;
		font-size: 1em;
	}

	.projecttitles{
		margin-left: 6.5%;
	}

	.summarytitle{
		margin-left: 0%;
		padding-top: 3em;
	}

	.projecttitle{
		margin-left: 4%;
	}

	.projectpara{
		font-size: 1em;
	}

}

@media all and (max-width: 960px) {
	body{
		margin: 0;
		padding: 0;
	}

	.navbar{
		padding: 3em 3em 3em 3em;
	}

	#whitesidebar{
		overflow-x: hidden;
	}

	#welcome{
		font-size: 5rem;
		margin-top: 5%;
		left: 20%;
	}

	#welcome2{
		font-size: 1.25rem;
		margin-top: 16%;
		left: 42%;
	}

	#down{
		font-size: 3em;
		position: absolute;
		margin-top: 34%;
		left: 49.5%;
	}

	#downlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		left: 48.5%;
		margin-top:33%;
	}

	#left{
		font-size: 3em;
		position: absolute;
		left: 1.25em;
		top: 2em;
	}

	#leftlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		left: 6.5em;
		top: 7.9em;
	}

	#right{
		font-size: 3em;
		position: absolute;
		right: 8%;
		top: 2em;
	}

	#rightlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		right: 13%;
		top: 7.9em;
	}

	#twitter{
		position: absolute;
		right:3em;
		top: 3.5em;
		color: black;
	}

	#instagram{
		position: absolute;
		right:6em;
		top: 3.5em;
		color: black;
	}

	#facebook{
		position: absolute;
		right:9em;
		top: 3.5em;
		color: black;
	}

	#projects{
		font-siZE: 4em;
		margin-top: 11%;
		margin-left: 37%;
	}

	#projects2{
		font-size: 1rem;
		left: 40%;
	}

	.fullscreen{
		height:75vh;
	}

	#scroll{
		margin-left: 2%;
	}

	#scrolllabel{
		margin-left: 2%;
	}

	#aboutpara{
		font-family: open sans;
		font-weight: 600;
		color: #696969;
		font-size: .75em;
		line-height: 2em;
		width: 100%;
		margin-left: 4.5em;
		padding: 2em;
	}

	#hello{
		color: #FF5851;
		margin-left: 2.5em;
		font-size: 2em;
		margin-top: 6em;
	}

	#resume a{
		padding-bottom: 5em;
	}

	.projectpara{
			padding-left: 2.25em;
			padding-right: 2.25em;
			font-size: .8em;
		}

	.projecttitle {
		font-size: 1em;
		font-family: secular one;
		margin-left: 7%;
		padding-top: 1.75em;
	}

	#vtlimage{
		width: 100vw;
		margin-left: 1em
	}

	#titles{
		font-size: 10vw;
		margin-left: 38%;
		margin-top: 23%;
	}

	#titles1{
		font-size: 10vw;
		margin-left: 30%;
		margin-top: 20%;
	}

	#contactinfo{
		font-size: 1.5vw;
		margin-left: 20%;
	}

	#names{
		font-size: 4.5vw;
		margin-left: 20%;
	}

	#name{
		font-size: 3vw;
		margin-left: 20%;
	}

	#resume{
		padding-left: 2.5em;
		margin-top: 40%;
	}

	#members{
		padding-top: 0;
		font-size: 1em;
		margin-top: 6.75em;
	}

	#brief{
		padding-top: 4em;
	}

	#brief1{
		padding-top: 4em;
	}

	.projecttitles{
		margin-left: 8%;
	}

	.summarytitle{
		margin-left: 10%;
		padding-top: 2em;
		font-size: 2em;
	}

	#processtitle1{
		padding-top: 4em;
	}

	#finaltitle{
		font-size: 2em;
	}

	#finaltitle1{
		font-size: 2em;
		padding-top: 2em;
	}

	.sumprojectpara{
		padding-left: 5em;
		padding-right: 5em;
		font-size: 1.1em;
	}

	.projecttitle{
		margin-left: 4%;
	}

	.projectpara{
		font-size: 1em;
	}
}

@media all and (max-width: 768px) {
	body{
		margin: 0;
		padding: 0;
	}

	.navbar{
		padding: 3em 3em 3em 3em;
	}

	#whitesidebar{
		overflow-x: hidden;
	}

	#welcome{
		font-size: 5rem;
		margin-top: 5%;
		left: 16%;
	}

	#welcome2{
		font-size: 1.25rem;
		margin-top: 16%;
		left: 42%;
	}

	#down{
		font-size: 3em;
		position: absolute;
		margin-top: 34%;
		left: 49.5%;
	}

	#downlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		left: 48.5%;
		margin-top:33%;
	}

	#left{
		font-size: 3em;
		position: absolute;
		left: 1.25em;
		top: 2em;
	}

	#leftlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		left: 6.5em;
		top: 7.9em;
	}

	#right{
		font-size: 3em;
		position: absolute;
		right: 8%;
		top: 2em;
	}

	#rightlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		right: 13%;
		top: 7.9em;
	}

	#twitter{
		position: absolute;
		right:3em;
		top: 3.5em;
		color: black;
	}

	#instagram{
		position: absolute;
		right:6em;
		top: 3.5em;
		color: black;
	}

	#facebook{
		position: absolute;
		right:9em;
		top: 3.5em;
		color: black;
	}

	#projects{
		font-siZE: 4em;
		margin-top: 11%;
		margin-left: 37%;
	}

	#projects2{
		font-size: 1rem;
		left: 40%;
	}

	.fullscreen{
		height:65vh;
	}

	#scroll{
		margin-left: 2%;
	}

	#scrolllabel{
		margin-left: 2%;
	}

	#aboutpara{
		font-family: open sans;
		font-weight: 600;
		color: #696969;
		font-size: 1em;
		line-height: 2em;
		width: 100%;
		margin-left: 3em;
		padding-right: 5em;
		padding-bottom: 3em;
	}

	#hello{
		color: #FF5851;
		margin-left: 2.5em;
		font-size: 2em;
		margin-top: 6em;
	}

	#resume a{
		padding-bottom: 5em;
	}

	.projectpara{
			padding-left: 2.25em;
			padding-right: 2.25em;
			font-size: .8em;
		}

	.projecttitle {
		font-size: 1em;
		font-family: secular one;
		margin-left: 7%;
		padding-top: 1.75em;
	}

	#vtlimage{
		width: 100vw;
		margin-left: 1em
	}

	#titles{
		font-size: 10vw;
		margin-left: 38%;
		margin-top: 23%;
	}

	#titles1{
		font-size: 5vw;
		margin-left: 30%;
		margin-top: 20%;
	}

	#contactinfo{
		font-size: 2vw;
		margin-left: 10%;
	}

	#names{
		font-size: 6vw;
		margin-left: 10%;
	}

	#name{
		font-size: 4vw;
		margin-left: 10%;
	}

	#resume{
		padding-left: 37%;
		margin-top: 40%;
		position: relative;
	}

	#members{
		padding-top: 0;
		font-size: 1em;
		margin-top: -1.5em;
	}

	.projecttitles{
		margin-left: 8%;
	}

	.summarytitle{
		margin-left: 11%;
		padding-top: 2em;
		font-size: 2em;
	}

	#processtitle1{
		padding-top: 4em;
	}

	#finaltitle{
		font-size: 2em;
	}

	#finaltitle1{
		font-size: 2em;
		padding-top: 2em;
	}

	.sumprojectpara{
		padding-left: 5em;
		padding-right: 5em;
		font-size: 1.1em;
	}

	.projecttitle{
		margin-left: 8%;
	}

	.projectpara{
		font-size: 1em;
		margin-left: 3.5%;
	}

	.roleimage{
		width: 93%;
		margin-left: 4%;
	}

	#finalimage{
		width: 93%;
		margin-left: 4%;
		padding-top: 2em;
	}

	.workflowimage{
		width: 93%;
		margin-left: 4%;
		padding-top: 2em;
	}
}

@media all and (max-width: 540px){
	#welcome{
		font-size: 4rem;
		margin-top: 5%;
		left: 14%;
	}

	#welcome2{
		font-size: 1.25rem;
		margin-top: 16%;
		left: 40%;
	}

	#down{
		font-size: 3em;
		position: absolute;
		margin-top: 60%;
		left: 49.5%;
	}

	#downlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		left: 47.5%;
		margin-top:59.5%;
	}

	#left{
		font-size: 3em;
		position: absolute;
		left: 1.25em;
		top: 3em;
	}

	#leftlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		left: 6.5em;
		top: 10.9em;
	}

	#right{
		font-size: 3em;
		position: absolute;
		right: 8%;
		top: 3em;
	}

	#rightlabel{
		font-family: lato;
		font-size: 1em;
		position: absolute;
		right: 5.5em;
		top: 10.9em;
	}
}

@media all and (max-width: 375px){

	body{
		margin: 0;
		padding: 0;
	}

	.navbar{
		padding: 3em 3em 3em 3em;
	}

	#whitesidebar{
		overflow-x: hidden;
	}

	#welcome{
		font-size: 3rem;
		margin-top: 30%;
		left: 40%;
	}

	#welcome2{
		font-size: 1.25rem;
		margin-top: 47%;
		left: 66%;
	}

	#down{
	  font-size: 3em;
	  position: absolute;
	  margin-top: 142%;
		left: 80.5%;
	}

	#downlabel{
	  font-family: lato;
	  font-size: 1em;
	  position: absolute;
	  left: 78%;
	  margin-top:140%;
	}

	#left{
	  font-size: 3em;
	  position: absolute;
	  left: 1.25em;
	  top: 6.05em;
	}

	#leftlabel{
	  font-family: lato;
	  font-size: 1em;
	  position: absolute;
	  left: 6.5em;
	  top: 20em;
	}

	#right{
	  font-size: 3em;
	  position: absolute;
	  right: -54%;
	  top: 6.05em;
	}

	#rightlabel{
	  font-family: lato;
	  font-size: 1em;
	  position: absolute;
	  right: -43%;
	  top: 20em;
	}

	#twitter{
	  position: absolute;
	  right:-12em;
	  top: 3.5em;
	  color: black;
	}

	#instagram{
	  position: absolute;
	  right:-6em;
	  top: 3.5em;
	  color: black;
	}

	#facebook{
	  position: absolute;
	  right:0em;
	  top: 3.5em;
	  color: black;
	}

	#projects{
		font-siZE: 3em;
		margin-top: 11%;
		margin-left: 21%;
	}

	#projects2{
		font-size: 1rem;
		left: 21%;
	}

	.fullscreen{
		height:35vh;
	}

	#scroll{
		visibility: hidden;
	}

	#scrolllabel{
		visibility: hidden;
	}

	#aboutpara{
		font-family: open sans;
		font-weight: 600;
		color: #696969;
		font-size: .75em;
		line-height: 2em;
		width: 100%;
		margin-left: 0;
		padding: 2em;
	}

	#hello{
		color: #FF5851;
		margin-left: .75em;
		font-size: 2em;
		margin-top: 6em;
	}

	#resume a{
		padding-bottom: 5em;
	}

	.projectpara{
			padding-left: 2.25em;
			padding-right: 2.25em;
			font-size: .8em;
		}

	.projecttitle {
    font-size: 1em;
    font-family: secular one;
    margin-left: 7%;
		padding-top: 1.75em;
	}

	#vtlimage{
		width: 100vw;
		margin-left: 1em
	}

	#titles{
		font-size: 10vw;
		margin-left: 38%;
		margin-top: 30%;
	}

	#titles1{
		font-size: 10vw;
		margin-left: 30%;
		margin-top: 30%;
	}

	#contactinfo{
		font-size: 4vw;
		margin-left: 8%;;
	}

	#names{
		font-size: 8vw;
		margin-left: 8%;;
	}

	#name{
		font-size: 5vw;
		margin-left: 8%;;
	}

	#resume{
		padding-left: 2.5em;
		position: relative;
	}

	#members{
		padding-top: 0;
		font-size: 1em;
		margin-top: 0;
	}

	#brief{
		padding-top: 4em;
	}

	#brief1{
		padding-top: 4em;
	}

	.projecttitles{
		margin-left: 8%;
	}

	.summarytitle{
		margin-left: 10%;
		padding-top: 2em;
		font-size: 2em;
	}

	#processtitle1{
		padding-top: 4em;
	}

	#finaltitle{
		font-size: 2em;
	}

	#finaltitle1{
		font-size: 2em;
		padding-top: 2em;
	}

	#finalimage{
		width: 93%;
		margin-left: 4%;
		padding-top: 2em;
	}

	.workflowimage{
		width: 93%;
		margin-left: 4%;
		padding-top: 2em;
	}

	.roleimage{
		width: 93%;
		margin-left: 4%;
	}

	.sumprojectpara{
		padding-left: 2em;
		padding-right: 2em;
		font-size: 1.1em;
	}

	.projecttitle{
		margin-left: 9%;
	}

	.projectpara{
		font-size: 1em;
	}

}
