#twitter{
  position: absolute;
  right:7em;
  top: 3em;
  color: black;
}

#instagram{
  position: absolute;
  right:10em;
  top: 3em;
  color: black;
}

#facebook{
  position: absolute;
  right:13em;
  top: 3em;
  color: black;
}

#homepage{
  overflow:hidden;
}

#name{
  font-family: secular one;
  font-size: 2vw;
  margin-top: 20%;
  margin-left: 16.5%;
}

#names{
  line-height: 1em;
  margin-left: 2em;
  font-size: 4vw;
}

#contactinfo{
  font-family: open sans;
  font-weight: 900;
  font-size: .9vw;
  color: #696969;
  line-height: 2em;
  margin-left: 9em;
}

.bounceleft a{
  color:black;
}

.bounceleft a:focus{
  color:#696969;
}

.bounceright a{
  color:black;
}

.bounceright a:focus{
  color:#696969;
}

.bouncedown a{
  color:black;
}

.bouncedown a:focus{
  color:#696969;
}

/* Content */

.fullscreen{
  height: 100vh;
}

.space{
  padding-bottom: 10%;
}

.navbar{
  padding: 2.5em 5em 2em 5em;
}

.navbar-toggler{
  border: none;
  outline: none;
}

.navbar-toggler:focus{
  border: none;
  outline: none;
}

.nav-item{
  padding-left: 3em;
  font-family:Lato;
}

#welcome{
  font-size:8vw;
  margin-top:4%;
  left: 20%;
  position: absolute;
  width:100%;
}

#welcome2{
  font-size: 1.25vw;
  margin-top:12%;
  left: 44%;
  position: absolute;
  width:100%;
  font-family: crimson;
  font-style: italic;
  font-weight: 900;
  color: #FF5851;
}

#projects2{
  font-size: 1.25vw;
  left: 41%;
  position: absolute;
  width:100%;
  font-family: crimson;
  font-style: italic;
  font-weight: 900;
  color: #FF5851;
}

#hello{
  color: #FF5851;
}

#projects{
  font-siZE: 8vw;
  margin-top: 15%;
  margin-left: 32%;
}

#on{
  position: absolute;
  margin-top: 18%;
  margin-left: 30%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

h1{
  font-family: secular one;
  font-weight: 900;
  line-height: 0.8em;
  font-size: 7vh;
  margin-left: 2em;
  margin-bottom: 1.1em;
}

#vtlimage{
  width: 100%;
}

.para{
  font-family: open sans;
  font-weight: 600;
  color: #696969;
  font-size: 0.9em;
  padding-right: 50%;
  padding-top: 5em;
}

#aboutpara{
  font-family: open sans;
  font-weight: 600;
  color: #696969;
  font-size: 1em;
  line-height: 2em;
  margin-left: 8.8em;
  width: 75%;
}

#left{
  font-size: 3em;
  position: absolute;
  left: 2em;
  top: 3.4em;
}

#leftlabel{
  font-family: lato;
  font-size: 1em;
  position: absolute;
  left: 9em;
  top: 12em;
}

#right{
  font-size: 3em;
  position: absolute;
  right: 2em;
  top: 3.4em;
}

#rightlabel{
  font-family: lato;
  font-size: 1em;
  position: absolute;
  right: 9em;
  top: 12em;
}

#down{
  font-size: 3em;
  position: absolute;
  margin-top: 29%;
  left: 47%;
}

#downlabel{
  font-family: lato;
  font-size: 1em;
  position: absolute;
  margin-top: 28.5%;
  left: 46.5%;
}

#scroll{
  font-size: 3em;
  position: absolute;
  left: 4.5%;
  margin-top: 5%;

}

#scrolllabel{
  font-family: lato;
  font-size: 1em;
  position: absolute;
    left: 4%;
    margin-top: 5%;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounceleft {
  -moz-animation: bounceleft 2s infinite;
  -webkit-animation: bounceleft 2s infinite;
  animation: bounceleft 2s infinite;
}

@keyframes bounceleft {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}

.bounceright {
  -moz-animation: bounceright 2s infinite;
  -webkit-animation: bounceright 2s infinite;
  animation: bounceright 2s infinite;
}

@keyframes bounceright {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}

.bouncedown {
  -moz-animation: bouncedown 2s infinite;
  -webkit-animation: bouncedown 2s infinite;
  animation: bouncedown 2s infinite;
}

@keyframes bouncedown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(15px);
  }
}

.thumbnail:hover {
   position:relative;
   width:105%;
   height:auto;
   display:block;
   z-index:999;
   margin-left: -2.5%;
}



/* .seemywork{
  text-decoration: none;
  font-family: Crimson;
  background: none;
  border: none;
  margin-top: .5em;
  font-size: 1.5em;
  margin-left: -.25em;
  font-style: italic;
  font-weight: bold;
  color: #696969;
  position: absolute;
}

.seemywork:hover{
  color: #FF5851;
  cursor: pointer;
}

.seemywork:focus{
  outline: none;
} */

.header1{
  font-weight: bold;
  font-size: 1.5em;
}

.header2{
  font-family: Crimson;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
}

.header4{
  font-weight: bold;
  font-size: 1em;
}

#resume{
  text-decoration: none;
  font-family: Crimson;
  background: none;
  border: none;
  margin-top: .5em;
  font-size: 1.5em;
  margin-left: -.25em;
  font-style: italic;
  font-weight: bold;
  color: #696969;
  position: absolute;
}

#resume:hover{
  color: #FF5851;
  cursor: pointer;
}

.projectpara{
  font-family: open sans;
  font-weight: 600;
  color: #696969;
  font-size: 1.25em;
  line-height: 2em;
}

.projecttitle{
  font-size: 1.25em;
  font-family: secular one;
  margin-left: 0;
  padding-top: 1em;
}

.projecttitles{
  font-size: 1.25em;
  font-family: secular one;
  margin-left: 0;
}

#brief{
  padding-top: 9em;
  color: #ff5851;
}

#members{
  padding-top: 10em;
}

#objective{
  padding-top: 3em;
  color: #ff5851;
}

#response{
  padding-top: 3em;
  color: #ff5851;
}

#brief1{
  padding-top: 9em;
  color: #00b894;
}

#objective1{
  padding-top: 3em;
  color: #00b894;
}

#response1{
  padding-top: 3em;
  color: #00b894;
}

.summary{
  background-color:#ff5851;
}

.summarytitle{
  font-size: 3em;
  padding-top: 4em;
  color: white;
}

.sumprojectpara{
  font-family: open sans;
  font-weight: 600;
  color: white;
  font-size: 1.25em;
  line-height: 2em;
}

#processtitle{
  padding-top: 10em;
  color: #ff5851;
  font-size: 1.25em;
  font-family: secular one;
}

#processtitle1{
  padding-top: 10em;
  color: #00b894;
  font-size: 1.25em;
  font-family: secular one;
}

.roletitle{
  padding-top: 4em;
  color: #ff5851;
  font-size: 1.25em;
  font-family: secular one;
}

.roletitle1{
  padding-top: 4em;
  color: #00b894;
  font-size: 1.25em;
  font-family: secular one;
}

#lens{
  background-color:#ff5851;
}

.workflowimage{
  width: 100%;
  padding-top: 4em;
}

.roleimage{
  width: 100%;
  padding-top: 4em;
}

#finalproduct{
  background-color: #F5F5F5;
}

#finaltitle{
  font-size: 3em;
  padding-top: 4em;
  color: #ff5851;
}

#finaltitle1{
  font-size: 3em;
  padding-top: 4em;
  color: #00b894;
}

.summary1{
  background-color: #00b894;
}

#finalimage{
  width: 100%;
  padding-top: 4em;
}

#vtl{
  background-color: #00b894;
}

.thumbnail{
  width: 100%;
  margin-top: 0%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#titles{
  font-size: 10em;
  margin-left: 4.5em;
  margin-top: 2em;
  color: white;
}

#titles1{
  font-size: 10em;
  margin-left: 4em;
  margin-top: 2em;
  color: white;
}

footer p{
  text-align: center;
  font-family: open sans;
  line-height: 2em;
  font-size: .75em;
  color:#696969;
  margin-top: 2em;
}

footer{
  background: 	#F5F5F5;
}
